<div class="container mt-5">
  <form>
    <div class="col-md-8 offset-md-2">
      <h5>Enter your credentials to login or sign up</h5>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <button type="button" class="btn btn-primary mt-3">Login</button>
      <button type="button" class="btn btn-outline-primary mt-3 ms-2">
        Sign Up
      </button>
    </div>
  </form>
</div>
